body {
    height: 90vh !important;
}

.ng-valid .ng-dirty {
    border-color: green;
}

.ng-invalid .ng-dirty {
    border-color: red;
}

.my-nav {
    margin: 10px;
    padding-bottom: 30px;
}

.main-container {
    height: 100%;
    z-index: 1000;
    display: block;
}

.footer {
    padding-right: 20px;
    position: absolute;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right !important;
    float: none !important;
}

.search-bar {
    width: 85% !important;
    display: inline-block;
}
.synch-button{
}

.table-filter{
    width: 30%;
    margin-bottom:20px;
}


.my-table {
    height: 100%;

}

.my-table tbody {
    width: 100%;
    display: block;
    /*overflow-y: auto;*/
}

.my-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.my-table tbody {
    height: 100%;
    display: block;
    overflow-y: auto;
}

.my-row {
    height: 95%;
}

.constrained {
    height: 100%;
    overflow-y: auto;
}

.search-constrained {
    height: 100%;
    overflow-y: scroll;
}

.table-hover tbody tr.highlight {
    background-color: lightgreen;
}

.canClick {
    cursor: pointer;
}


