<section ng-model="searching.selectedPeople">

    <ui-select multiple tagging="searching.tagTransform"
               theme="bootstrap"
               ng-disabled="disabled"
               title="Choose a person"
               class="search-bar">
        <ui-select-match
                placeholder="Select person..."> <a tooltip-placement="top" uib-tooltip="{{$item.grade}} {{$item.job}}, {{$item.age}} years">{{$item.name}}</a>
        </ui-select-match>
        <ui-select-choices
                refresh-delay="300"
                repeat="person in showedPeople | propsFilter: {name: $select.search, age: $select.search}">
            <div ng-if="person.isTag" ng-bind-html="person.name +''| highlight: $select.search"></div>
            <div ng-if="!person.isTag" ng-bind-html="person.name + person.isTag| highlight: $select.search"></div>
            <small>
                job: {{person.job}};
                grade: {{person.grade}};
                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
            <div ng-if="$index == showedPeople.length-1">
                <button
                        ng-if="!useNgMouseover"
                        class="btn btn-xs btn-success"
                        style="width: 100%; margin-top: 5px;"
                        ng-mouseover="getNextPage();"
                        ng-disabled="loading">Load more...</button>
                <button
                        ng-if="useNgMouseover"
                        class="btn btn-xs btn-danger"
                        style="width: 100%; margin-top: 5px;"
                        ng-mouseover="getNextPage();"
                        ng-disabled="loading">Mouse over load more...</button>
            </div>

        </ui-select-choices>

    </ui-select>
    <button class="btn btn-default btn-xs" ng-click="searching.synchronize()"
            ng-disabled="searching.selectedPeople.length==0">Synch
    </button>
</section>

