<div ng-model="selectedEmployees" ng-keydown="clear()">
    <ui-select multiple
               remove-selected="false"
               ng-disabled="disabled"
               class="search-bar my-search-bar">
        <ui-select-match placeholder="Select employee...">
            <i tooltip-placement="top"
               uib-tooltip="This employee is not available"
               tooltip-is-open="error.search && !teamService.canRefresh($item.id)"
               tooltip-trigger="'none'"
               uib-popover="{{$item.grade}} {{$item.job}}, {{$item.age}} years"
               popover-trigger="'mouseenter'"
               popover-placement="bottom">{{$item.name}}</i>
        </ui-select-match>
        <ui-select-choices
                refresh-delay="300"
                repeat="employee in employees | employeeFilter: {name: $select.search, job: $select.search, grade:$select.search} | limitTo: pagination.limit">
            <div ng-bind-html="employee.name"></div>
            <small>
                job: {{employee.job}};
                grade: {{employee.grade}};
                age: {{employee.age}}
            </small>
            <div ng-if="$index == pagination.limit-1">
                <button
                        class="btn btn-xs btn-success page-btn"
                        ng-mouseover="increaseLimit()"
                        ng-disabled="loading">NEXT
                </button>
            </div>
        </ui-select-choices>

    </ui-select>
    <button class="btn btn-default btn-sm synch-button" ng-click="refreshEmployees()"
            ng-disabled="!teamService.anyTeamOpen.some(isOpened)">Refresh
    </button>
</div>

